#wide {
  width: 100%;
}

img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 42px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 25px;
}

body {
  background-image: url('https://jooinn.com/images/turquoise-ocean-background-1.png');
}

#navbar {
  text-align: center;
}

#navbar li {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
  font-size: 25px;
}

a {
  color: #000080;
  text-decoration: none;
}

a:hover {
  color: red;
}
